/*style.css*/
body{
    font-family: "Georgia", serif;
    color: #333;
    background-color: #f4f4f4;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

a{
    color: #b33f3f;
    text-decoration: none;
}


a:hover{
    color: #7a2828;
}

header{
    background: #b33f3f;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

header h1{
    margin: 0;
    font-size: 2.5em;
}

nav ul{
    padding: 0;
    list-style: none;
}

nav ul li{
    display: inline;
    margin: 0 15px;
}

nav ul li a{
    color: #fff;
    font-size: 1.2em;
}

main{
    padding: 20px;
}

#featured-dishes{
    background-color: #fff;
    padding: 20px;
    margin-bottom: 8px;
    border-radius: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#cooking-steaks h2{
    color: #b33f3f;
    margin-top: 0;
}

.img-overlay{
    position: relative;
    text-align: center;
}

.text-overlay img{
    max-width: 100%;
    height: auto;
}

.text-overlay{
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    color: white;
    padding: 10px;
    font-size: 4.5em;
}

footer{
    text-align: center;
    padding: 20px 0;
    background: #333;
    color: #fff;
}

@media(max-width: 600px){
    nav ul li{
        display: block;
        margin: 10px 0;
    }
}